<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Zod-file-server" packages="com.infamous">
    <Appenders>
        <Console name="Stout">
            <PatternLayout
              pattern="%d{ISO8601} | %-5.5p | %16.16t | %48.48c | %m%n"
            />
        </Console>
        <ZodSocket name="Syslog" host="${sys:fluent.host:-localhost}" port="${sys:fluent.port:-8515}" protocol="TCP">
        </ZodSocket>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Syslog"/>
            <AppenderRef ref="Stout"/>
        </Root>
    </Loggers>
</Configuration>

