<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Zod-file-server" packages="com.infamous">
    <Appenders>
        <Console name="Stout">
            <PatternLayout
              pattern="%d{ISO8601} | %-5.5p | %16.16t | %48.48c | %m%n"
            />
        </Console>
        <ZodFluency name="fluency">
            <Server host="localhost" port="5514"/>
            <FluencyConfig
              ackResponseMode="false"
              flushIntervalMillis="200"
              senderMaxRetryCount="3"/>
        </ZodFluency>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="fluency"/>
            <AppenderRef ref="Stout"/>
        </Root>
        <Logger name="com.atomikos" level="warn" additivity="true">
            <AppenderRef ref="fluency"/>
        </Logger>
        <Logger name="org.komamitsu" level="error">
            <AppenderRef ref="Stout"/>
        </Logger>
        <Logger name="org.glassfish.jersey.internal" level="error"/>
    </Loggers>
</Configuration>

