<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Zod-eureka-server" packages="com.infamous">
    <Appenders>
        <Console name="Stout">
            <PatternLayout
              pattern="%d{ISO8601} | %-5.5p | %16.16t | %48.48c | %m%n"
            />
        </Console>
        <ZodFluency name="fluency">
            <FluencyConfig
              ackResponseMode="false"
              flushIntervalMillis="200"
              senderMaxRetryCount="3"/>
        </ZodFluency>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="fluency"/>
            <AppenderRef ref="Stout"/>
        </Root>
        <Logger name="org.komamitsu" level="off">
            <AppenderRef ref="Stout"/>
        </Logger>
    </Loggers>
</Configuration>

